@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body
{
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body {
    font-family: var(--font-family);
    position: relative;
    background-color: var(--color-bkg);
    line-height:1;
}
p{
    line-height: 1.5;
    color: var(--color-white);
    font-size: var(--fontSize-p1);
}
/* This is to make a new line in p tags using span */
p span{
    display: block;
    font-size: var(--fontSize-p1);
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: var(--color-secondary);
}
a p {
    transition: all 0.3s ease;
}
a:hover p{
    color: var(--color-secondary);
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

h1 {
    color: var(--color-primary);
    font-size: var(--fontSize-h1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2 {
    color: var(--color-subheader);
    font-size: var(--fontSize-h2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2 span,
h3 span{
    display: block;
}
h3 {
    color: var(--color-subheader);
    font-size: var(--fontSize-h3);
}
h4{
    color: var(--color-subheader);
    font-size: var(--fontSize-h4);
}
h5{
    color: var(--color-subheader);
    font-size: var(--fontSize-h5);
}
button{
    font-family: var(--font-family);
    background-color: var(--color-secondary);
    font-size: var(--fontSize-p1);
    padding: 15px;
    color: var(--color-button-text);
    border: none;
    cursor: pointer;
    transition: 0.5s all ease;
}
button:hover{
    background-color: var(--color-objects);
    border-radius: 20px;
}
@media only screen and (max-width: 900px){
    button{
        padding: 15px;
    }
}
:root{
    /* 
     *  COLOR
     */
    --color-bkg: #171E29;
    --color-primary: #26F527; /* Green */
    --color-secondary: #0ABCF7; /* Blue */
    --color-objects: #FF1178; /* Pink */
    --color-white: #FFFFFF;
    --color-button-text: #FFFFFF;
    --color-subheader: #FFFFFF;
    --color-fade: #c9c9c9; /* For texts that are more subtle */
    --color-bkg-black-fade: rgb(23, 30, 41, 0.3);
    --color-bkg-nav-fade: rgb(23, 30, 41, 0.95);
    /* 
     *  FONTS
     */
    --font-family: 'Readex Pro', sans-serif;
    --fontSize-h1: clamp(90px, 15vw, 150px);
    --fontSize-h2: clamp(50px, 10vw, 75px);
    --fontSize-h3: clamp(40px, 7vw, 60px);
    --fontSize-h4: clamp(30px, 4vw, 40px);
    --fontSize-h5: clamp(25px, 3vw, 30px);
    --fontSize-p1: clamp(17px, 20px, 25px);
    --fontSize-p2: clamp(14px, 15vw, 16px);
}
/* 
 *  GENERAL STUFF
 *  Main containers
 */
.main-container{
    min-height: 100vh;
/*    height: 100vh;*/
    position: relative;
}
/* Height instead of min-height because it works with flex better */
#domino-wall-container,
#pricing{
    height: 100%;
}
.thumbnail{
    display: none;
}
/* 
 *  NAVIGATION
 */
.nav-container{
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 50px;
    width: 90vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.nav-bar ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.nav-bar li{
    font-size: var(--fontSize-p1);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--color-white);
    cursor: pointer;
    transition: 0.5s all ease;
}
.nav-bar li:nth-child(1){
    padding-left: 0px;
}
.nav-bar li:hover{
    color: var(--color-secondary);
}
.nav-bar img{
    width: 30px;
}
.hamburger{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--color-white);
    transition: 0.5s all ease;
}
.light-dark-mode{
    cursor: pointer;
}
.light-dark-mode img{
    width: 30px;
    height: 30px;
    transition: 0.2s all ease;
}
#sun{
    display: none;
    opacity: 0;
    transform: translateX(50px);
}
.inner-nav{
    display: flex;
    align-items: center;
}
.inner-nav *{
    margin-inline: 20px;
}
@media only screen and (max-width: 900px){
    .nav-container{
        width: 100%;
        padding: unset;
        align-items: unset;
    }
    .settings-toggle, 
    .hamburger{
        padding-inline: 20px;
        padding-top: 20px;
    }
    .nav-bar{
        display: none;
        position: absolute;
        width: 100%;
        height: 75vh;
        padding-top: 50px;
        background-color: var(--color-bkg);
        z-index: -1;
    }
    .nav-bar ul{
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid var(--color-white);
    }
    .nav-bar li{
        font-size: var(--fontSize-h4);
    }
    .nav-bar img{
        width: 100px;
    }
    .settings{
        padding-left: 50px;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #moon, #sun{
        padding-top: 20px;
        padding-inline: 20px;
    }
    .inner-nav{
        display: unset;
    }
    .inner-nav > *{
        margin-inline: unset;
    }
}
/* 
 *  SETTINGS
 */
.settings-toggle{
    cursor: pointer;
    transition: 0.5s all ease;
}
.settings-toggle svg{
    display: block;
    width: 30px;
    transition: 0.5s all ease;
}
.settings-toggle:hover svg{
    transform: rotate(180deg);
}
.settings-toggle svg g{
    fill: var(--color-white);
}
.settings-toggle:hover svg g{
    fill: var(--color-secondary);
}
.settings-popup{
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 5%;
    transform: translate(-5%, 0);
    background-color: var(--color-bkg);
    border: 2px solid var(--color-white);
    border-radius: 25px;
    z-index: 1000;
}
.settings-popup select{
    appearance: none;
    position: relative;
    display: inline-block;
    background-color: transparent;
    color: var(--color-white);
    font-size: var(--fontSize-p2);
    border: none;
    padding: 5px;
    cursor: pointer;
}
.settings-popup svg{
    cursor: pointer;
}
.settings-popup option{
    background-color: var(--color-bkg);
}
.settings-popup > *{
    margin-left: 10px;
    margin-right: 10px;
}
.settings-popup button{
    font-size: var(--fontSize-p2);
    color: var(--color-button-text);
    background-color: transparent;
    padding: 5px;
    transition: 0.5s all ease;
}
.settings-popup button:hover{
    color: var(--color-secondary);
}
.settings-popup button:focus{
    color: var(--color-secondary);
}
#refresh{
    padding: 5px;
    transition: 0.5s all ease;
}
#refresh:hover{
    stroke: var(--color-secondary);
    transform: rotate(-180deg);
}
.settings-mode{
    display: flex;
    position: relative;
    border-inline: 2px solid white;
}
.settings-mode p{
    font-size: var(--fontSize-p2);
    color: var(--color-button-text);
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 10px;
    cursor: pointer;
    transition: 0.5s all ease;
}
/*.settings-mode p:hover{
    background-color: var(--color-secondary);
}*/
.selected-mode{
    position: absolute;
    background-color: var(--color-secondary);
    width: 50%;
    height: 10%;
    z-index: -1000;
    left: 0;
    bottom: 0;
    transition: 0.5s all ease;
}
@media only screen and (max-width: 900px){
    .settings-popup{
        display: none;
        left: 0%;
        transform: translate(0, 0);
        border-radius: 0;
        border: unset;
        border-top: 2px solid var(--color-white);
        border-inline: 2px solid var(--color-white);
        flex-wrap: wrap;
        justify-content: center;
    }
    .settings-options{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .settings-mode{
        border: unset;
    }
    #refresh{
        width: 30px;
        height: 30px;
    }
}
/* 
 *  HEADER CONTAINER
 */
.sideheader-container{
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}
.sideheader-container > *,
.header-container > *{
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-container .header-highlight{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}
.header-highlight{
    color: var(--color-primary);
}
.link-highlight{
    display: unset;
    color: var(--color-secondary);
}
#home{
    height: 100%;
}
.hero-header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    padding-left: 5%;
    gap: 20px;
}
.hero-brand-name{
    display: flex;
}
.hero-brand-name span:nth-child(1){
    color: var(--color-primary);
}
.hero-brand-name span:nth-child(2){
    color: var(--color-objects);
}
.hero-brand-name span:nth-child(3){
    color: var(--color-secondary);
}
.hero-logo{
    width: clamp(10rem, 25vw, 25rem);
}
.cta-block,
.cta-block-footer{
    display: flex;
    gap: 20px;
}
.cta-block-footer{
    padding-block: 20px;
    justify-content: center;
}
#development-header-part2{
    right: 0;
}
#personality-container{
    height: 200vh;
}
#personality-header,
#about-header,
#domino-wall-header,
#contact-header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#personality-sticky{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}
#about-header{
    position: absolute;
    flex-direction: column;
}
#about-header h2{
    text-align: center;
    padding-top: 5%;
}
#about-header p{
    width: 50%;
    text-align: left;
}
#project-header{
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}
#pricing-header{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}
#pricing-header p{
    font-size: var(--fontSize-p2);
}
#contact-header{
    flex-direction: column;
}
#contact{
    height: 100%;
}
@media only screen and (max-width: 900px){
    .sideheader-container{
        position: unset;
        margin-left: unset;
        margin-right: unset;
        text-align: center;
        width: unset;
    }
    .header-container{
        text-align: center;
        position: relative;
    }
    .sideheader-container > *,
    .header-container > *{
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-header-container{
        height: 50%;
        width: 100%;
        padding-left: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }
    #hero-header h2{
        text-align: center;
    }
    #development-header-part1{
        padding-left: unset;
        width: unset;
        text-align: center;
    }
    #about-header p{
        width: unset;
        padding-left: 20px;
        padding-right: 20px;
    }
    #personality-container{
        height: 100vh;
    }
    #personality-sticky{
        position: unset;
        transform: unset;
    }
    #pricing{
        min-height: 100%;
        height: unset;
    }

}
/* 
 *  STAIRCASES
 *  Displaying a set of staircases normally and backwards to showcase the order of dev process
 */
.staircase-container,
.staircase-container-mirror{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: flex-end;
}
.staircase{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    transition: 1s all ease;
}
.staircase > *{
    padding-top: 50px;
}
.staircase-num{
    text-align: center;
    padding-bottom: 10px;
}
.staircase:nth-child(1){
    height: 33%;
}
.staircase:nth-child(2){
    height: 66%;
}
.staircase:nth-child(3){
    height: 100%;
}
.staircase-container-mirror .staircase:nth-child(1){
    height: 66%;
}
.staircase-container-mirror .staircase:nth-child(2){
    height: 33%;
}
.staircase-container-mirror .staircase:nth-child(3){
    height: 0%;
}
@media only screen and (max-width: 900px){
    .staircase-container,
    .staircase-container-mirror{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    .staircase{
        width: unset;
        padding-left: 20px;
        padding-right: 20px;
    }
    .staircase > *{
        padding-top: 40px;
    }
    .staircase:nth-child(1){
        height: unset;
        order: 3;
    }
    .staircase:nth-child(2){
        height: unset;
        order: 2;
    }
    .staircase:nth-child(3){
        height: unset;
        order: 1;
    }
    #development-header-part2{
        padding-right: unset;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .staircase-container-mirror .staircase:nth-child(1){
        height: unset;
        order: 1;
    }
    .staircase-container-mirror .staircase:nth-child(2){
        height: unset;
        order: 2;
    }
    .staircase-container-mirror .staircase:nth-child(3){
        height: unset;
        order: 3;
    }
}
/* 
 *  PROJECTS
 *  Flex overflow x-axis list of projects with buttons
 */
.overflow-x-container{
    max-width: 90%;
    overflow-x: hidden;
    margin: 0 auto;
    cursor: grab;
}
.overflow-x-slider{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    max-width: 80%;
    margin: 0 auto;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.project-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project h3{
    text-align: center;
}
.project > *{
    margin-left: 50px;
    margin-right: 50px;
}
.project img{
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}
.project svg{
    width: 100%;
    height: 100%;
}
.inner-flex-buttons{
    display: flex;
    justify-content: space-around;
}
.mobile-arrow{
    display: none;
}
.project-tooltip{
    position: fixed;
    border: 2px solid var(--color-secondary);
    width: 100px;
    height: 100px;
    opacity: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    transition: 0.5s opacity ease;
}
@media only screen and (max-width: 900px){
    .overflow-x-container{
        max-width: unset;
        margin-top: 50px;
    }
    .overflow-x-slider{
        max-width: unset;
    }
    .project{
        max-width: 500px;
    }
    .project > *{
        margin-left: 50px;
        margin-right: 50px;
    }
    .project img{
        max-width: 200px;
        max-height: 200px;
    }
    .mobile-arrow{
        display: block;
        padding: 20px;
        text-align: center;   
    }
    .mobile-arrow p{
        color: var(--color-fade);
    }
}
/*@media only screen and (max-width: 400px){
    .project{
        max-width: 300px;
    }
}*/

.plans-container{
    width: clamp(25rem, 50vw, 40rem);
    display: block;
    margin-inline: auto;
}
.plans-container ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.plans-container li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bullet-point{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-objects);
}
@media only screen and (max-width: 900px){
    .plans-container{
        width: 90%;
    }
    .plans-container p{
        max-width: 90%;
    }
}



/* 
 *  OBSERVER EFFECTS
 *  When the user scrolls to a specific element that's being observed, do an effect
 */
.show{
    opacity: 1;
    transform: translateY(0px);
    filter: blur(0px);
}